<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zwc.sellsys.android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.UserInfoActivity">
        </activity>

        <activity android:name=".activity.AddUserActivity"/>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SpecificationActivity"
            android:label="@string/title_activity_specification"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.OrderInfoActivity">
        </activity>
        <activity android:name=".activity.AddOrderInfoActivity">
        </activity>
        <activity android:name=".activity.ChooseUserActivity">
        </activity>
        <activity android:name=".activity.ChooseSpecificationActivity">
        </activity>
        <activity android:name=".activity.AddSpecificationActivity">
        </activity>
        <activity android:name=".activity.CompensationInfoActivity">
        </activity>
    </application>

</manifest>